{% extends 'base.html'%}
{% load static %}



{% block content %}

<div class="mx-auto max-w-2xl text-center mt-20">
  <h2 class="text-6xl font-bold tracking-tight text-red-600 ">Inicia Sesion</h2>
</div>

<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" action="#" method="POST">
          {% csrf_token %}    
      <div>
        <label for="id_username" class="block text-sm font-medium leading-6 text-white ">Nombre</label>
        <div class="mt-2">
          <input id="id_username" name="username" type="text" autocomplete="username" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <label for="id_password" class="block text-sm font-medium leading-6 text-white">Contraseña</label>
        <div class="mt-2">
          <input id="id_password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-500 hv2">Iniciar Sesion</button>
      </div>
    </form>
  </div>

{% endblock %}